<launch>

    <arg name = "model" default = "$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name = "simulate_with_turtlesim" default = "1" />
    <arg name = "x_tbot3" default = "5.0" />
    <arg name = "y_tbot3" default = "5.0" />
    <arg name = "z_tbot3" default = "0.0" />
    <arg name = "world_name" default = "worlds/empty.world" />

   <remap from = "/cmd_vel" to = "/turtle1/cmd_vel" />

    <group if = "$(arg simulate_with_turtlesim)">
        <remap from = "/cmd_vel" to="/turtle1/cmd_vel" />

        <node name = "turtlesim_node_leader" pkg = "turtlesim" type = "turtlesim_node" required = "true">
        <remap from = "/cmd_vel" to = "turtlesim_for_leader/turler1/cmd_vel" />
        </node>

        <node name = "turtlesim_node_follower" pkg = "turtlesim" type = "turtlesim_node" respawn = "true">
        <remap from = "/cmd_vel" to = "turtlesim_for_follower/turtle1/cmd_vel" />
        </node>

        <node 
        name = "drive_positive_v_w"
        pkg = "hrutik_champaneri_final_2022"
        type = "question_1.py"> 
        </node>


        <node
        name = "velocity_reporter"
        pkg = "hrutik_champaneri_final_2022"
        type = "question_3.py"
        output = "screen"
        launch-prefix = "xterm -e"> </node>


        <node name = "rqt_graph" pkg = "rqt_graph" type = "rqt_graph"> </node>
    
    </group>

    <group unless = "$(arg simulate_with_turtlesim)">
        <include file = "$(find gazebo_ros)/launch/empty_world.launch">
            <arg name = "world_name" value = "$(find turtlebot3_gazebo)/worlds/empty.world"> </arg>
            <arg name = "paused" value="false"/>
            <arg name = "use_sim_time" value="true"/>
            <arg name = "gui" value="true"/>
            <arg name = "headless" value="false"/>
            <arg name = "debug" value="false"/>
        </include>

        <param name = "robot_description" command = "$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

        <node 
        pkg = "gazebo_ros" 
        type = "spawn_model" 
        name = "spawn_urdf"
        args = "-urdf -model turtlebot3_$(arg model) -x $(arg x_tbot3) -y $(arg y_tbot3) -z $(arg z_tbot3) -param robot_description" > </node>

        <node
        name = "drive_negative_v_w"
        pkg = "hrutik_champaneri_final_2022"
        type = "question_2.py">
        <remap from = "/turtle1/cmd_vel" to = "/cmd_vel" />
        </node>

        <node
        name = "velocity_reporter"
        pkg = "hrutik_champaneri_final_2022"
        type = "question_3.py"
        output = "screen"
        launch-prefix = "xterm -e"> </node>

        <node name = "rqt_graph" pkg = "rqt_graph" type = "rqt_graph"> </node>
    </group>
</launch>